.movieDet {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.movieDet button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.movieDet button:hover {
  background-color: #0056b3;
}

.movieDet h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.movieDet img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.pDetails {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 10px;
}



/* nav a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
} */