.movieCast {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movieCast h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.movieCast .movieLiCast {
  list-style-type: none;
  padding: 0;
}

.movieCast .movieLiItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.movieCast .movieLiItem:last-child {
  margin-bottom: 0;
}

.movieCast .movieLiItem span {
  font-weight: bold;
}



